---
---

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

::selection {background: #fcd700; color: #fff; text-shadow: none;}
a:link {-webkit-tap-highlight-color: #fcd700;}

body {
	background-color: white;
	color: white;
	font-size: 26px;
	font-family: "Merriweather", serif;
}

header {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1em;
	position: absolute;
	z-index: 4;
	background-color: white;
	color: black;
	img {
		height: 40vh;
		margin: 1em;
	}
	h1 {
		font-size: 0.7em;
		font-style: italic;
	}
}

#container {
	background-color: black;
	padding: 110vh 1em;
}

#point {
	transition: .2s;
}

svg#map {
	width: 5em;
	position: fixed;
	top: 1em;
	z-index: 3;
}

.location {
	display: flex;
	margin: 6em 0;
	.location-title {
		width: 10em;
		margin-right: 1em;
		h2 {
			font-size: .8em;
			position: -webkit-sticky;
			top: 6em;
			font-weight: 300;
			font-style: italic;
		}
	}
}
.photos {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	.photo-container {
		flex-grow: 1;
		background-color: #121212;
	}
	.photo {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		.description {
			font-size: .5em;
			width: 14em;
			padding: 1em 0 0 1em;
			margin-left: 1em;
			color: white;
			flex-shrink: 0;
		}
		hr {
			margin: 3em 0;
		}
	}
	.photo:not(:last-child) {
		margin-bottom: 3em;
	}
	.landscape {
		width: calc(100vw - 12em);
		.photo-container {
			@include aspect-ratio(3, 2);
		}
	}
	.portriat {
		width: calc(100vw - 26em);
		.photo-container {
			@include aspect-ratio(2, 3);
		}
	}
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}
